/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/minio_dev/bucket/*
!/storage/minio_dev/bucket/.gitkeep
/storage/minio_dev/.minio.sys
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
